h4 {text-align:center;font-family: 'Northwell';font-size: 45px;margin-top: 14px;line-height: 45px;margin-bottom: 0px;}
img {height:200px;display:block;margin: 0 auto;}
.pet-section {margin-bottom:30px;}
.new-pet {color:#387a60;padding: 0 30px 30px;display: flex;align-items: center;cursor:pointer;font-size:20px;outline:none;}
.new-pet i {font-size:30px;padding-right: 10px;display:inline-block;}
.new-pet p {display:inline-block;margin-bottom:0;}